
instructions_mac
instructions_pi
venv
__pycache__
hist.txt
.env
_cookies
_misc
_token
favorites.db
recipe.db
user.db
static/.DS_Store
.DS_Store
static/images/.DS_Store
static/db/ordershistory.db
*.log
qrcode.png
add_to_bring.py
