Flask==2.0.2
flask_classful==0.14.2
numpy==1.22.4
python_picnic_api==1.1.0
qrcode==7.3.1
requests==2.27.1
tqdm==4.64.0
urllib3==1.26.8
Image==1.5.33
gunicorn==20.1.0
python-dotenv==0.20.0
cryptography==37.0.2
werkzeug==2.1.2
python-git==2018.2.1
