<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="n00b">
  <title>Nice'n Fresh</title>



  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a class="navbar-brand fs-6 fw-light" href="#"><i class="bi bi-boxes" style="font-size:15px; vertical-align: bottom;"></i> Built v1.0.1</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-white bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title fw-lighter">
            <i class="bi bi-arrow-down-right-square-fill" style="font-size:15px; vertical-align: middle;"></i>
            <span style="font-size:15px; vertical-align: center;">Nice'n Fresh</span>
          </a>
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('WebView:index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('WebView:login')}}">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Basket</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Settings</a>
            </li>
          </ul>
          <form class="d-flex mt-3 mt-lg-0" role="search">
            <input class="form-control me-2" type="search" placeholder="Ingredient" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

  <div class="text-white text-center jumbotron specialjum shadow" style="background: scroll center url({{url_for('static',filename='images/splash.jpg')}});background-size: cover;">
    <div class="container">
      <img src="{{url_for('static',filename='images/logo.svg')}}" height="300" class="d-inline-block align-text-top" style="-webkit-filter: invert(1);filter: invert(1);padding: 1em;">
    </div>
  </div>

  <div class="container-fluid">
    <!-- Content goes here-->
    {% block content %} {% endblock %}
  </div>
  <div class="b-example-divider"></div>

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24">
            <use xlink:href="#bootstrap" />
          </svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">&copy; 2022, #stayniceandcrispy</span>
      </div>
    </footer>
  </div>

  <script src="{{url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
</body>

</html>
