{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
<div class="row py-xl-5 py-lg-5 py-md-5 py-sm-5 py-3">
  {%for k in range(0, amount)%}
  <!-- Gallery item -->
  <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
    <div class="quiz_card_area">
      <input class="quiz_checkbox" type="checkbox" id="c_checkboxField" name="checkbox" value={{k}} />
      <div class="single_quiz_card">
        <div class="bg-white rounded shadow-sm"><img src="{{filename[k]}}" alt="" class="img-fluid card-img-top rounded-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">{{r_name[k]}}</a></h5>
            <p class="small text-muted mb-0">{{r_subtitle[k]}}</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">{{r_type[k]}}</span></p>
              <div class="badge text-bg-primary">{{r_subtype[k]}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
  <!-- End -->
</div>
</div>

<div class="offcanvas offcanvas-end w-auto" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Basket</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">

    <div class="p-2 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">THE Recipes</h1>

        <ul class="list-group" style="padding-bottom:1em" id="recipes-tab">
          <!-- script content section : populateTable() -->
        </ul>

      </div>
    </div>

    <div class="p-2 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">THE Ingredients</h1>

        <ul class="list-group" style="padding-bottom:1em" id="ingredients-tab">
          <!-- script content section : populateTable() -->
        </ul>

        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-dark">Checkout</button>
          <button type="button" class="btn btn-outline-dark" onclick="clearBasket()">Clear</button>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="d-grid gap-2 position-fixed start-50 translate-middle-x" style="bottom:2%">
  <div class="container-fluid bg-light rounded shadow bg-opacity-70" style="padding: .25em; white-space: nowrap;">

    <form method="post" enctype="multipart/form-data" id="index-form">
      <div class="btn-group" role="group" aria-label="Basic example">

        <button type="submit" class="btn btn-dark" id="btn" name="btn" data-bs-toggle="offcanvas" value="basket" style="padding: 5px;" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <i class="bi bi-bag-plus-fill" style="font-size:15px; vertical-align: top;"></i>
          <span style="font-size:15px; vertical-align: center;">Add to Basket</span>
        </button>

        <button type="button" class="btn btn-outline-dark" style="padding: 5px;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom">
          <i class="bi bi-sliders2" style="font-size:30px; vertical-align: 10%;top:10%;"></i>
        </button>

      </div>
    </form>



  </div>



</div>

<div class="offcanvas offcanvas-bottom h-auto" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Recipe Setup</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <!-- <div class="d-grid gap-2 col-6 mx-auto"> -->
    <form method="post" enctype="multipart/form-data" id="recipe-form" action="choose">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Make it Random</h1>


          <label for="customRange3" class="form-label">Recipes per page </label>
          <h1 id="toptitle">10</h1>
          <input type="range" class="form-range" min="5" max="50" step="1" value="10" name="range" oninput="$('#toptitle').text(this.value);" style="padding-bottom:1em">



          <button class="btn btn-outline-dark" type="submit" id="btn" name="btn" value="random"><i class="bi bi-shuffle" style="font-size:15px; vertical-align: bottom;"></i> Random</button>
        </div>
      </div>

      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold" style="padding-bottom:.3em">Get the recent suggestions</h1>

          <button class="btn btn-outline-dark" type="submit" id="btn" name="btn" value="recent"><i class="bi bi-calendar-date" style="font-size:15px; vertical-align: bottom;"></i> Recent Week</button>
        </div>
      </div>
    </form>
    <!-- </div> -->


  </div>

{% endblock %}
