{% extends 'base.html' %}

{% block content %}

<body>
  <div class="container" style="z-index: 9;margin-top:15em;">
    <div class="row">

      <div class="col-lg-10 col-xl-9 mx-auto" style="max-width:40em;">
        <div class="card border-0 flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Set credentials</h5>

            <div class="mb-3 text-center">
              <span class="badge rounded-pill text-bg-secondary m-2" id="login_status_badge_REWE"
                data-bs-toggle="tooltip" data-bs-placement="top"> REWE
                <i class="bi bi-exclamation-circle-fill ms-1 align-top" id="login_status_bi_REWE"></i>
              </span>

              <span class="badge rounded-pill text-bg-secondary m-2" id="login_status_badge_Picnic"
                data-bs-toggle="tooltip" data-bs-placement="top"> Picnic
                <i class="bi bi-exclamation-circle-fill ms-1 align-top" id="login_status_bi_Picnic"></i>
              </span>

              <span class="badge rounded-pill text-bg-secondary m-2" id="login_status_badge_HelloFresh"
                data-bs-toggle="tooltip" data-bs-placement="top"> HelloFresh
                <i class="bi bi-exclamation-circle-fill ms-1 align-top" id="login_status_bi_HelloFresh"></i>
              </span>

              <span class="badge rounded-pill text-bg-secondary m-2 bring_badge" id="login_status_badge_Bring"
                data-bs-toggle="tooltip" data-bs-placement="top"> Bring
                <i class="bi bi-exclamation-circle-fill ms-1 align-top bring_status" id="login_status_bi_Bring"></i>
              </span>
            </div>

            <form method="post" enctype="multipart/form-data" id="index-form">

              <div class="form-floating">
                <select class="form-select" id="floatingSelect" name="vendor" onchange="vendorChanged(this)" required>
                  <option value="REWE"><i class="bi bi-check"></i> REWE</option>
                  <option value="Picnic">Picnic</option>
                  <option value="HelloFresh">HelloFresh</option>
                  <option value="Bring">Bring!</option>
                </select>
                <label for="floatingSelect">Vendor</label>
              </div>

              <hr>

              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com"
                  autocomplete="username" name="username" required>
                <label for="floatingInputEmail">Email address</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                  autocomplete="current-password" name="password" required>
                <label for="floatingPassword">Password</label>
              </div>

              <div class="d-grid mb-2 gap-2">
                <button class="btn btn-lg btn-outline-dark" type="submit" id="btn" value="saveCredentials">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="loginspinner"
                    style="display: none"></span>
                  <span class="m-1" style="display: inline-block" id="loginSaveText">Save</span>
                  <span class="m-1" style="display: none" id="loginTryText">Login</span>
                  <i style="display: none" id="bichecklogin" class="bi bi-check-all m-1"></i>
                </button>
                <button class="btn btn-sm btn-link" type="button" onclick="logout_action()">
                  <span class="m-0" style="display: inline-block">Logout Everything</span>
                </button>
              </div>

              <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center mt-4">
                <div class="toast" style="width: 90%" id="ToastObject" role="alert" aria-live="assertive"
                  aria-atomic="true" data-bs-autohide="false">
                  <div class="toast-header">
                    <i class="bi bi-bell-fill me-2"></i>
                    <strong class="me-auto">Login Information</strong>
                    <small>now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>

                  <div class="toast-body">
                    <ul class="list-group" id="toastText">
                      <!-- <li class="list-group-item"></li> -->
                    </ul>
                  </div>

                </div>
              </div>

            </form>

            <form method="post" id="otp-form" style="display:none;">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputOTP" placeholder="OTP Token" name="otpToken" required>
                <label for="floatingInputOTP">OTP Token</label>
              </div>
              <button class="btn btn-lg btn-outline-dark" type="submit">Verify OTP</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

{% endblock %}